<section class="index-page">
  <img class="avatar" src="{{userAvatar}}" alt="photos"></img>
  <h1>Hallo {{userName}} </h1>
  <h2>{{userFullName}} </h2>
  <h4>{{userEmail}} </h4>
  <p class="success">
    You have been successfully logged in!
  </p>
  <a class="logoutBtn logoutBtn--google" href='/logout'>
    Logout from google
  </a>
</section>